body {
  background-color: rgb(224, 255, 255);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.editTaskForm{
  display: flexbox;
  flex-wrap: wrap;
  -ms-flex-align: center;
}

button {
  padding: auto;
  margin: 5px 5px;
}

div.completed_task{
  color: rgb(6, 202, 6);
}

div.uncompleted_task{
  color:rgb(202, 6, 6)
}
